<div ng-controller="HomeController" data-ng-init="onInit()">

    <script type="text/ng-template" id="createRoomTemplate.html">
        <form>

        <div class="modal-header">
            Create New Room
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Room Name</label>
                #<input class="form-control" size="32" ng-model="newRoom.alias" placeholder="Room Alias e.g. 'matrix' (optional)"/>:{{ config.homeserver.replace("http://", "").replace("https://", "") }}
            </div>
            <div class="checkbox">
                <label for="createRoomPublic">
                    <input id="createRoomPublic" type="checkbox" ng-model="newRoom.isPublic"> Public Room
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="create()" type="button" class="btn btn-success">
                Create
            </button>
        </div>
        </form>
    </script>

    <div id="wrapper">

        <h1>Welcome to Homeserver: {{ config.homeserver }}</h1>

        <div class="row">
            <div class="col-md-2">
                <div class="profile-avatar">
                    <img ng-src="{{ (null !== profile.avatarUrl) ? httpUri(profile.avatarUrl, 320, 320) : 'img/default-profile.png' }}"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4" id="user-ids">
                        <h2 id="user-displayname">{{ profile.displayName }}</h2>
                        <div>{{ config.user_id }}</div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" ng-click="showCreateRoomDialog()">
                            Create Room
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <label for="newChat_user">
                            Start a Private Chat
                        </label>
                        <input class="form-control input-sm" id="newChat_user" size="40" ng-model="newChat.user" ng-enter="messageUser()" placeholder="e.g. @user:domain.com"/>
                        <button class="btn btn-primary" ng-disabled="!newChat.user" ng-click="messageUser()">
                            Start
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <label for="joinAlias_room_alias">
                            Join a Room
                        </label>
                        <input class="form-control input-sm" size="40" id="joinAlias_room_alias" ng-model="joinAlias.room_alias" ng-enter="joinAlias(joinAlias.room_alias)" placeholder="e.g. #foo:example.org"/>
                        <button class="btn btn-primary" ng-disabled="!joinAlias.room_alias" ng-click="joinAlias(joinAlias.room_alias)">
                            Join
                        </button>
                    </div>
                </form>
                <div class="feedback">{{ feedback }}</div>
            </div>
            </div>
        </div>
        <hr>

        <div class="row">
        <div class="col-md-4">
            <h2>Recent Conversations</h2>
            <div ng-include="'app/recents/recents.html'"></div>
        </div>
        <div class="col-md-6">
            <h2>Public Rooms</h2>
            <div class="spinner publicRoomSpinner" us-spinner ng-show="public_rooms === undefined"></div>
            <ol class="publicRooms">
                <li class="publicRoomEntry"
                    ng-repeat="room in public_rooms | orderBy:('num_joined_members'):true"
                    ng-class="room.is_favourite ? 'roomHighlight' : ''">
                    <a class="publicRoomEntry" href="#/room/{{ room.room_alias ? room.room_alias : room.room_id }}">
                        <div>
                            <span class="publicRoomTitle">
                                {{ room.room_display_name }}
                            </span>
                            <span class="publicRoomJoinedUsers" ng-show="room.num_joined_members">
                                {{ room.num_joined_members }} {{ room.num_joined_members == 1 ? 'user' : 'users' }}
                            </span>
                        </div>
                        <span class="publicRoomTopic">
                            {{ room.topic }}
                        </span>
                    </a>
                </li>
            </ol>

        </div>
    </div>

</div>
